.imagePost {
  width: 100%;
  height: auto;
}

.title {
  margin-bottom: 2rem;
}

.infos {
  list-style: none;
  color: var(--info);
  margin-bottom: 2rem;

  li {
    float: left;

    & + li {
      margin-left: 1.5rem;
    }
  }
}

.editPost {
  color: var(--info);
  margin-top: -1rem;
  margin-bottom: 2rem;
}

.subtitle {
  margin: 2rem 0;
}
.contentPost {
  color: var(--body);
  line-height: 1.4rem;

  p {
    margin-bottom: 1.6rem;
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  border-top: 1px solid #2b313c;

  div {
    margin-top: 2rem;
  }

  a {
    color: var(--hightlight);
    font-weight: 700;
    text-decoration: none;
    margin-top: 5rem;
  }
}
